# Practical Assignment - Fundamentals of Data Analysis

## Background and overview of the Anscombe's quartet dataset

"Graphs are essential to good statistical analysis"

Anscombe's quartet comprises four datasets that have nearly identical simple descriptive statistics, yet appear very different when graphed. Each dataset consists of eleven (x,y) points. They were constructed in 1973 by the statistician Francis Anscombe to demonstrate both the importance of graphing data before analyzing it and the effect of outliers on statistical properties. He described the article as being intended to counter the impression among statisticians that "numerical calculations are exact, but graphs are rough." (https://en.wikipedia.org/wiki/Anscombe%27s_quartet)


Anscombe's quartet is a set of four small datasets where each produces almost identical summary statistics (mean, standard deviation, variance and correlations), which could lead come people to infer that the datasets are very similar [1].
However, while the statistical properties prove to be near identical, visualizing (plotting) the data reveals the datasets are notably different.
Anscombe published this paper in order to demonstrate the importance of plotting data before analyzing it, and to show the effect outliers can have on statistical properties [2]. In his paper he makes the astute observation that very little attention is given to plots and that most people avoid making assumptions such as:
 - Numerical calculations are very precise while graphs are "rough".
 - For any kind of statistical data there exists only one set of calulations which results in an accurate analysis.
 - And that performing calculations is something of a virtue while looking at the plotted data is "cheating" [2].
Anscombe asserts that computers should produce both calculations and plots and that both must be studied because each will contribute to understanding. Indeed, by looking at the qualities and features of Anscombe's dataset and by understanding his analyses, we can better appreciate his observational stance on the matter.

In [1]:
# Opening the dataset with pandas

import pandas as pd # Importing pandas to abbreviated form pd
dataframe = pd.read_csv("anscombes.csv") # Reads the csv and assigns this to the new object "dataframe" 
dataframe # Prints dataframe output

    id dataset     x      y
0    0       I  10.0   8.04
1    1       I   8.0   6.95
2    2       I  13.0   7.58
3    3       I   9.0   8.81
4    4       I  11.0   8.33
5    5       I  14.0   9.96
6    6       I   6.0   7.24
7    7       I   4.0   4.26
8    8       I  12.0  10.84
9    9       I   7.0   4.82
10  10       I   5.0   5.68
11  11      II  10.0   9.14
12  12      II   8.0   8.14
13  13      II  13.0   8.74
14  14      II   9.0   8.77
15  15      II  11.0   9.26
16  16      II  14.0   8.10
17  17      II   6.0   6.13
18  18      II   4.0   3.10
19  19      II  12.0   9.13
20  20      II   7.0   7.26
21  21      II   5.0   4.74
22  22     III  10.0   7.46
23  23     III   8.0   6.77
24  24     III  13.0  12.74
25  25     III   9.0   7.11
26  26     III  11.0   7.81
27  27     III  14.0   8.84
28  28     III   6.0   6.08
29  29     III   4.0   5.39
30  30     III  12.0   8.15
31  31     III   7.0   6.42
32  32     III   5.0   5.73
33  33      IV   8.0   6.58
34  34      IV   8.0   5.76
35  35      IV   8.0   7.71
36  36      IV   8.0   8.84
37  37      IV   8.0   8.47
38  38      IV   8.0   7.04
39  39      IV   8.0   5.25
40  40      IV  19.0  12.50
41  41      IV   8.0   5.56
42  42      IV   8.0   7.91
43  43      IV   8.0   6.89

## Plotting the dataset

In [8]:
import seaborn as sns
sns.set(style="ticks")

# Load the example dataset for Anscombe's quartet
df = sns.load_dataset_csv
# df = sns.load_dataset("anscombes.csv")

# Show the results of a linear regression within each dataset
sns.lmplot(x="x", y="y", col="dataset", hue="dataset", data=df,col_wrap=2, ci=None, palette="muted", height=4,scatter_kws={"s": 50, "alpha": 1})

AttributeError: module 'seaborn' has no attribute 'load_dataset_csv'

# References:

[1] Wikipedia https://en.wikipedia.org/wiki/Anscombe%27s_quartet

[2] Anscombe (1973) - Graphs in Statistical Analysis http://www.sjsu.edu/faculty/gerstman/StatPrimer/anscombe1973.pdf

[3]